// ${componentName}.tsx
import React from 'react';
import './${componentName}.scss';

const ${componentName}: React.FC = () => {
  return (
    <div className="${componentName}">
      {/* Your component code here */}
    </div>
  );
};

export default ${componentName};
